{% do doc.styles.addCssFile('css/components/organisms/footer.css') %}

<footer class="ap--footer">
  <div class="ap-o-footer">
    <div class="ap-o-footer-line-top">
      <div class="ap-o-footer-hint">{{ _('Of course, this site is made with AMP!') }}</div>
    </div>
  </div>

</footer>
