---
$title: Knowledge graph applications for business and science
$view: /views/2021/base.html
$titles:
  navigation: Start
description: 'Knowledge graph applications for business and science.'

format_explainer:
  - name: websites
    headline: Ontomatica
    description: "Create machine -readable information about foods, drugs, cosmetics, textiles, chemicals and commodities for national and international markets"
    link: "All about Ontomatica"
    url: /about/websites.html
  - name: stories
    headline: DailyFood
    description: "Serve information about human food and meals, pet food and animal feed in machine-readable form."
    link: "All about DailyFood"
    url: /about/stories.html
  - name: email
    headline: DailyCare
    description: "Serve information about cosmetics, textiles, and houshold chemicals in machine-readable form."
    link: "All about DailyCare"
    url: /about/email.html
  - name: ads
    headline: Export Import Data
    description: "Enable government organizations to use electronic product passports to implement border control policies and tariffs."
    link: "All about Export Import Data"
    url: /about/ads.html
  - name: alpha
    headline: Electronic Labels
    description: "Create electronic labels that deliver detailed product information in machine-readable form."
    link: "All about Electronic Labels"
  - name: beta
    headline: Food Data Institute
    description: "Develop data specifications for agriculture; food safety, science and labeling. Implement research data repositories for documenting public health and comparing investigations."
    link: "All about Food Data Institute"

success_stories:
  - !g.doc /content/amp-dev/runner/success-stories/washingtonpost.yaml
  - !g.doc /content/amp-dev/runner/success-stories/teads.yaml
  - !g.doc /content/amp-dev/runner/success-stories/carved.yaml
  - !g.doc /content/amp-dev/runner/success-stories/wompmobile.yaml
---

<main class="ap--main">
  <section class="ap-home-stage">

    <div class="ap-home-stage-logo">

      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18 18">
          <defs>
            <linearGradient id="b6c43bd9" x1="9" y1="19.13" x2="9" y2="-0.29" gradientUnits="userSpaceOnUse">
              <stop offset="0" stop-color="#0078d4" />
              <stop offset="0.16" stop-color="#1380da" />
              <stop offset="0.53" stop-color="#3c91e5" />
              <stop offset="0.82" stop-color="#559cec" />
              <stop offset="1" stop-color="#5ea0ef" />
            </linearGradient>
          </defs>
          <path d="M18,11.38A4,4,0,0,0,14.49,7.5,5.1,5.1,0,0,0,9.24,2.62,5.25,5.25,0,0,0,4.22,6,4.8,4.8,0,0,0,0,10.67a4.9,4.9,0,0,0,5.07,4.71l.44,0h8.21a.78.78,0,0,0,.22,0A4.1,4.1,0,0,0,18,11.38Z" fill="url(#b6c43bd9)" />
          <path d="M5.42,10.39H4.54a1.09,1.09,0,1,0,0,.49h.88a.2.2,0,0,1,.2.2v4.3h.49v-4.3A.69.69,0,0,0,5.42,10.39Zm-1.95.88a.64.64,0,1,1,.64-.64A.64.64,0,0,1,3.47,11.27Z" fill="#9cebff" />
          <path d="M8.94,10.61v-1a.7.7,0,0,0-.7-.7H6.69a.2.2,0,0,1-.2-.2V3.4l-.23.12L6,3.66v5a.69.69,0,0,0,.69.69H8.24a.21.21,0,0,1,.21.21v1a1.08,1.08,0,0,0-.85,1.06,1.09,1.09,0,1,0,1.34-1.06Zm-.25,1.7h0a.64.64,0,1,1,.64-.64A.64.64,0,0,1,8.69,12.31Z" fill="#f2f2f2" />
          <path d="M14.53,8.5a1.09,1.09,0,0,0-.25,2.15v.2a.21.21,0,0,1-.21.21h-2V7.54a.69.69,0,0,0-.69-.69H10.35A1.08,1.08,0,0,0,9.29,6a1.09,1.09,0,1,0,1.06,1.34h1.07a.2.2,0,0,1,.2.2v7.84h.49V11.55h2a.7.7,0,0,0,.7-.7v-.2a1.09,1.09,0,0,0,.85-1.06h0A1.09,1.09,0,0,0,14.53,8.5ZM9.29,7.73h0a.64.64,0,1,1,.64-.64A.64.64,0,0,1,9.29,7.73Zm5.24,2.5h0a.64.64,0,1,1,.63-.64A.64.64,0,0,1,14.53,10.23Z" fill="#9cebff" />
      </svg>
<!--
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 194 194">
        <defs>
            <linearGradient id="hnk2zvh1ka" x1="100%" x2="0%" y1="0%" y2="100%">
                <stop offset="0%" stop-color="#00DCC0"/>
                <stop offset="100%" stop-color="#005AF0"/>
            </linearGradient>
        </defs>
        <g fill="none" fill-rule="evenodd">
            <g fill="url(#hnk2zvh1ka)" transform="translate(-91 -83)">
                <path d="M188 83c53.572 0 97 43.428 97 97s-43.428 97-97 97-97-43.428-97-97 43.428-97 97-97zm0 2.533c-52.173 0-94.467 42.294-94.467 94.467s42.294 94.467 94.467 94.467 94.467-42.294 94.467-94.467S240.173 85.533 188 85.533zM193.88 124l8.969.037-6.742 41.065 18.96-.023.31-.005.177.002c2.472.072 4.446 2.15 4.446 4.697 0 1.007-.345 1.937-.952 2.77l.043-.06L182.03 236h-8.853l6.577-41.007-18.856.028-.277.005-.173-.001c-2.472-.073-4.449-2.153-4.449-4.698 0-.37.076-.76.208-1.185.071-.23.158-.465.257-.705.156-.378.312-.697.445-.944L193.88 124zm1.435 2.562L159.1 188.754l-.067.132-.1.21c-.05.106-.099.217-.145.33-.071.172-.132.336-.178.485-.015.05-.029.096-.04.14l-.029.118-.017.094c-.003.026-.005.048-.005.064 0 1.187.928 2.143 2.062 2.143l.19-.003 21.947-.035-6.579 41.011h4.454l36.39-62.366.038-.053c.305-.42.458-.832.458-1.25 0-1.19-.925-2.143-2.06-2.143l-22.288.032 6.744-41.082-4.561-.019z"/>
            </g>
        </g>
      </svg>
-->
    </div>

    <div class="ap-home-stage-text">
      <h1 class="ap-h1">{{ _('Knowledge graph applications for business and science.') }}</h1>
    </div>
  </section>
  <section class="ap-formats">
    <aside class="ap-formats-navigation">
      <div class="ap-formats-navigation-wrapper">
        {% for format in doc.format_explainer %}
        <amp-animation id="switchIcon-{{ format.name }}" layout="nodisplay">
          <script type="application/json">
            {
              "duration": "500ms",
                "fill": "both",
                "animations": [
                  {
                      "selector": ".ap-formats-navigation-icon.active.{{ format.name }}",
                        "keyframes": [
                          {
                              "visibility": "hidden",
                                "opacity": "0"
                            },
                          {
                              "visibility": "visible",
                                "opacity": "1"
                            }
                        ]
                    },
                    {
                      "selector": ".ap-formats-navigation-icon.inactive.{{ format.name }}",
                        "keyframes": [
                          {
                              "visibility": "visible",
                                "opacity": "1"
                            },
                          {
                              "visibility": "hidden",
                                "opacity": "0"
                            }
                        ]
                    }
                ]
            }
          </script>
        </amp-animation>
        <button class="ap-formats-navigation-icon-wrapper" on="tap:ap-formats-format-{{ format.name }}.scrollTo(duration=300)">
          <div class="ap-formats-navigation-icon inactive {{ format.name }}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
          <div class="ap-formats-navigation-icon active {{ format.name }}">
            <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
          </div>
        </button>
        {% endfor %}
      </div>
    </aside>
    {% set initial_format = doc.format_explainer[0].name -%}
    {% for format in doc.format_explainer %}
    <div class="ap-formats-format {{ format.name }}" id="ap-formats-format-{{ format.name }}">
      <amp-position-observer on="enter:switchIcon-{{ format.name }}.start;exit:switchIcon-{{ format.name }}.start,switchIcon-{{ format.name }}.reverse" intersection-ratios="0.9" layout="nodisplay">
      </amp-position-observer>
      <div class="ap-formats-background">
        <svg amp-fx="parallax" data-parallax-factor="0.95"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
      </div>
      <div class="ap-formats-format-content">
        {% do doc.icons.useIcon('/icons/amp-' + format.name + '.svg') %}
        <div class="ap-formats-logo">
          <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-{{ format.name }}"></use></svg>
        </div>
        <h1>{{ _(format.headline) }}</h1>
        <h5 class="ap-h5">{{ _(format.description) }}</h5>
<!--
        {% if format.cta %}
          <a href="documentation/index.html" class="ap-button --inverted cta">{{ _(format.cta) }}</a>
        {% endif %}
-->
        {% with %}
          {% set href = format.url %}
          {% set text = _(format.link) %}
          {% include '/views/2021/partials/content/link.j2' %}
        {% endwith %}
      </div>
    </div>
    {% endfor %}
  </section>
<!--
  <section class="ap-intro ap-section --col-left">
    <h1>{{ _('The latest news') }}</h1>
    <p>{{ _('Don\'t want to miss progress updates? Subscribe to our newsletter!') }}</p>
    {% with %}
      {% set square = true %}
      {% set class= "ap-newsletter-double" %}
      {% set href = "https://services.google.com/fb/forms/ampnewsletter-doubleopt-in/" %}
      {% set text = _("Subscribe") %}
      {% include '/views/2021/partials/content/link.j2' %}
    {% endwith %}

    {% with %}
      {% set square = true %}
      {% set class= "ap-newsletter" %}
      {% set href = "https://services.google.com/fb/forms/ampnewsletter/" %}
      {% set text = _("Subscribe") %}
      {% include '/views/2021/partials/content/link.j2' %}
    {% endwith %}
  </section>
-->
<!--
  <section class="ap-teaser-carousel --news">
    [% set posts = []|importBlog %]
    [% if posts|length %]
    <div class="ap-teaser-carousel-container">
      <amp-base-carousel
        id="teaser-carousel-news"
        height="523"
        layout="fixed-height"
        role="region"
        snap-align="(min-width: 768px) start, center"
        visible-count="(min-width: 1024px) 3, (min-width: 768px) 2, 1.05"
        aria-label="{{ _('News') }}"
        on="slideChange:teaser-carousel-pagination-news.toggle(index=event.index, value=true)">
        [% for post in posts %]
        [% set url = post.url     %]
        [% set image = post.image %]
        [% set alt = post.title   %]
        [% set meta = post.date   %]
        [% set headline = post.headline %]
        <a href="[= url =]" class="ap-teaser --news">
          <div class="ap-teaser-card">
            <div class="ap-teaser-card-header">
              [% if post.formats %]
                [% set format = post.formats[0] %]
                  <div class="ap-teaser-card-header-logo">
                    <svg fill="url(#gradient-[= format =])"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#amp-[= format =]"></use></svg>
                  </div>
                  <h6>[= format =]</h6>
              [% else %]
              <h6>[= post.title =]</h6>
              [% endif %]
            </div>
            <div class="ap-teaser-card-image">
              [% if image and image != '' %]
                <amp-img class=""
                    src="[= image =]"
                    layout="fill"
                    alt="[= alt =]">
                </amp-img>
              [% else %]
                <div class="ap-teaser-card-news-icon">
                  <div class="ap-a-ico">
                    {% do doc.icons.useIcon('icons/news.svg') %}
                    <svg><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#news"></use></svg>
                  </div>
                </div>
              [% endif %]
            </div>
            <div class="ap-teaser-card-body">
              <h4 class="ap-teaser-card-headline">[= headline =]</h4>
              <div class="ap-teaser-card-meta">[= meta =]</div>
            </div>
          </div>
        </a>

        [% endfor %]
        <button slot="next-arrow"></button>
        <button slot="prev-arrow"></button>
      </amp-base-carousel>
    </div>
    <div class="ap-teaser-carousel-controls --prev">
      <button on="tap: teaser-carousel-news.prev()" class="amp-carousel-button amp-carousel-button-prev" aria-label="Previous"></button>
    </div>
    <div class="ap-teaser-carousel-controls --next">
      <button on="tap: teaser-carousel-news.next()" class="amp-carousel-button amp-carousel-button-next" aria-label="Next"></button>
    </div>
    <amp-selector class="ap-teaser-carousel-pagination" id="teaser-carousel-pagination-news" layout="container" on="select: teaser-carousel-news.goToSlide(index=event.targetOption)">
      [% for post in posts %]
        <div class="ap-teaser-carousel-pagination-item" option="[= loop.index0 =]" [% if loop.index0 == 0 %]selected[% endif %]></div>
      [% endfor %]
    </amp-selector>
    [% endif %]
  </section>
-->

  <section class="ap-intro ap-section --col-right">
    <div class="ap-text-block">
      <h1>{{ _('Explore success stories') }}</h1>
      <p>{{ _('Read case studies from industry success stories and learn about positive results.') }}</p>
      {% with %}
        {% set square = true %}
        {% set href = "runner/success-stories/index.html" %}
        {% set text = _("See all success stories") %}
        {% include '/views/2021/partials/content/link.j2' %}
      {% endwith %}
    </div>
  </section>
  {% set slider_id = 'success-stories' %}
  {% set teaser_docs = doc.success_stories %}
  {% include '/views/2021/partials/teaser-slider.j2' %}

</main>
